<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mybatis 에서 sql 구문이 작성되는 문서 -->
<mapper namespace="book.mapeer">
   <select id="isExists" parameterType="Book" 
                         resultType="Book"> 
<!-- mybatis에서SQL 구문이 작성되는 문서 --> 
<!-- mybatis에서SQL 구문이 작성되는 문서 --> 
                          
   SELECT  b.sequence 
     FROM BOOK b 
    WHERE b.sequence = #{sequence} 
   </select> 
   
   <select id="getAllBooks" resultType="Book">
    SELECT b.sequence
         , b.isbn
         , b.title
         , b.author
         , b.company
         , b.total_page
         , b.price
         , b.quantity
         , b.reg_date
         , b.mod_date
      FROM BOOK b
   </select>
</mapper> 

 